header {
    width: 100vw;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: center;

}

nav ul{
    width: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    list-style: none;
}

header a {
    text-decoration: none !important;
    color: aliceblue;
}

#content-logo {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;

}